[credential]
	helper = manager
[user]
	name = Cancer Detection Developer
	email = cancer-detection@example.com
[core]
	quotepath = false
	autocrlf = false
[i18n]
	commitencoding = utf-8
	logoutputencoding = utf-8
